{% extends 'gallery/base.html' %}

{% block content %}
<div class="elegant-container fade-in">
    <div class="text-block">
        <h3>A Filosofia</h3>
        <h2>Excelência e Atemporalidade</h2>
        <p>
            Este portfólio não é apenas uma galeria; é uma declaração de intenções. Cada peça selecionada representa uma busca incessante pela harmonia, precisão e paixão pelo artesanal. Inspirado na obsessão pela performance e design que define o ícone Bugatti, cada quadro é uma peça exclusiva, concebida para resistir ao tempo e elevar qualquer espaço a um novo patamar de luxo.
        </p>
        <p>
            Aqui, a arte não é consumida massivamente. Ela é apreciada pessoalmente, numa experiência única de descoberta e conexão.
        </p>
    </div>
</div>
{% endblock %}