{% extends 'gallery/base.html' %}

{% block content %}
<div class="elegant-container fade-in">
    <div class="text-block">
        <h3>Sobre Mim</h3>
        <h2>Joaquim Lopes Barbosa: Paixão em Cores e Vigor</h2>
        
        <p>
            Chamo-me <strong>Joaquim Lopes Barbosa</strong> e sou um pintor português, movido pelo amor à arte, por uma busca intensa pelas cores e pelas minhas pinceladas vigorosas. O meu portfólio destaca-se pela diversidade de telas e técnicas, onde procuro dominar o óleo e o acrílico em perfeita simbiose com vários materiais.
        </p>

        <p>
            Natural de Viana do Castelo, nasci a 9 de setembro de 1971, na freguesia de Santa Leocádia de Geraz do Lima. Filho de pais modestos e humildes, encontrei o meu verdadeiro destino nas artes aos 24 anos, após ter passado por profissões na restauração e na construção civil. Desde então, tenho vindo a desenvolver um estilo próprio e singular.
        </p>

        <p>
            A essência do meu trabalho define-se pela exclusividade absoluta: todas as minhas obras são verdadeiramente únicas, sem qualquer tipo de réplica. São os canais através dos quais expresso a minha profunda paixão e emoção, resultando em telas vibrantes que oferecem a quem as contempla uma vasta gama de interpretações individuais.
        </p>

        <p>
            Atualmente em plena atividade, continuo a explorar novas séries e composições, mantendo sempre viva a premissa que guia o meu pincel: 
        </p>
        <p><strong><em>"Sou feliz nas artes..."</em></strong></p>
    </div>
</div>
{% endblock %}