{% extends 'gallery/base.html' %}

{% block content %}
<div class="elegant-container fade-in">
    <div class="text-block">
        <h3>O Artista</h3>
        <h2>Joaquim Lopes Barbosa: Paixão em Cores e Vigor</h2>
        
        <p>
            <strong>Joaquim Lopes Barbosa</strong> é um influente pintor português, reconhecido pelo amor à arte, pela vontade intensa de cores e pelas suas pinceladas vigorosas. O seu portfólio destaca-se pela diversidade de telas e técnicas, dominando o óleo e o acrílico em simbiose com vários materiais.
        </p>

        <p>
            Natural de Viana do Castelo, Joaquim nasceu a 9 de setembro de 1971, na freguesia de Santa Leocádia de Geraz do Lima. Filho de um casal modesto e humilde, encontrou o seu verdadeiro destino nas artes aos 24 anos, após experienciar profissões na restauração e construção civil, desenvolvendo desde então um estilo próprio e singular.
        </p>

        <p>
            A essência do seu trabalho define-se pela exclusividade absoluta: todas as suas obras são verdadeiramente únicas, sem qualquer tipo de réplica. São canais onde o artista expressa profunda paixão e emoção, resultando em telas vibrantes que oferecem uma vasta gama de interpretação individual.
        </p>

        <p>
            Atualmente em plena atividade, Joaquim continua a explorar novas séries e composições, mantendo sempre viva a premissa que guia o seu pincel: <em>"Sou feliz nas artes..."</em>
        </p>
    </div>
</div>
{% endblock %}